* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.view-port-format {
    height: 100vh;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}


.cabecalho {
    width: 30%;
}

.cabecalho ul {
    display: flex;
    justify-content: space-between;
}

.cabecalho ul li {
    list-style: none;
}

.cabecalho ul li a {
    text-decoration: none;
    color: #000;
}

.home div {
    background-color: #000000de;
    color: #fff;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    background-color: pink;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}