* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-text: rgb(119, 119, 119);
}

@keyframes animatetop {
    0% {
        top: -300px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.nav-animation {
    position: relative;
    animation: animatetop 0.4s;
}

.nav-animation-format {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.nav-bar {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    color: var(--color-text);
}


.nav-bar-buttom {
    width: auto;
    padding: 8px 16px;
    float: left;
    font-size: 15px;
    color: inherit;
    text-decoration: none;
}

.nav-bar-buttom:hover {
    background-color: #ccc;
    color: #000;
}



.back-image1 {
    background-image: url("/assets/images/parallax1.jpg");
}

.back-image2 {
    background-image: url(/assets/images/parallax2.jpg);
}

.back-image3 {
    background-image: url(/assets/images/parallax3.jpg);
}

.img-format {
    min-height: 400px;
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.75;
}

.image-text {
   min-height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.image-text span {
    color: #fff;
    background-color: #000;
    padding: 12px 24px;
    font-size: 24px;
    letter-spacing: 10px;
}

.image-text p {
    color: #fff;
    font-size: 36px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.content-center {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

.about-title {
    text-align: center;
    font-size: 24px;
    margin: 10px 0px;
}

.about-subtitle {
    text-align: center;
    font-size: 15px;
    margin: 15px 0px;
}

.about-content {
    margin: 15px 0px;
}

.about-my {
    display: flex;
    flex-direction: row;
}

.about-my-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
}

.about-my-content p {
    margin: 15px 0px;
    text-align: center;
    font-weight: bold;
}

.about-my-content img {
    border-radius: 4px;
    opacity: 0.60;
}

.about-my-content img:hover {
    opacity: 1;
}

.about-description {
    width: 50%;
    padding: 12px 24px;
}

.about-description p {
    margin: 15px 0px;
}

.about-subtitle2 {
    text-align: center;
    margin: 18px 0px;
    padding: 16px 0px;
    font-size: 18px;
}

.about-services {
    font-size: 15px;
    letter-spacing: 10px;
    margin: 15px 0px;
}

.about-services-grafic {
    background-color: #f1f1f1;
}

.about-services-grafic-interior {
    background-color: #616161;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
}

.about-numbers {
    background-color: #616161;
    color: #fff;
    padding: 16px 0px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}

.my-numbers {
    margin: 16px 0px;
}

.my-numbers span {
    font-size: 24px;
}

.portfolio h3 {
    text-align: center;
    margin: 10px 0px;
    font-size: 24px;
}

.portfolio p {
    text-align: center;
    margin: 15px 0px;
}

.my-portfolio {
    padding: 0px 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.my-portfolio-container {
    padding: 0px 8px;
}

.my-portfolio2 {
    padding: 0px 8px;
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolio-button {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.portfolio-button button {
    border: none;
    color: #000;
    background-color: #f1f1f1;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin-top: 64px;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 27px;
}

.portfolio-button button:hover {
    background-color: #ccc;
}


.contact h3 {
    text-align: center;
    margin: 10px 0px;
    font-size: 24px;
}

.contact-frase{
    text-align: center;
    margin: 15px 0px;
}

.contact-container {
    margin: 16px 0px;
    padding: 32px 0px;
    display: flex;
}

.contact-img {
    width: 33.33%;
    padding: 0.15px 16px;
}

.contact-img img {
    border-radius: 4px;
}

.my-contacts-container {
    width: 66.66%;
    margin: 16px 0px;
    padding: 0.15px 16px;
}

.my-contacts {
    margin-bottom: 16px;
    font-size: 18px;
}

.my-contacts-text {
    margin: 15px 0px;
}

.inputs-name-email {
    display: flex;
    flex-direction: row;
    padding: 0px 8px;
    margin: 0px -16px 8px -16px;
}

.inputs-name-email div {
    width: 50%;
    padding: 0px 8px;
}


form input {
    padding: 8px;
    width: 100%;
    border: solid 1px #ccc;
    font-size: 15px;
    line-height: 27px;
}

form button {
    float: right;
    margin: 16px 0px;
    padding: 8px 16px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    line-height: 27px;
    font-size: 15px;
}

form button:hover {
    background-color: #ccc;
    color: #000;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 64px 0px;
    text-align: center;
    opacity: 0.60;
}

footer:hover {
    opacity: 1;
}

.footer-to-top {
    text-decoration: none;
    background-color: #f1f1f1;
    color: #000;
    padding: 8px 16px;
    line-height: 27px;
}

.footer-to-top:hover {
    background-color: #ccc;
}

footer p {
    margin: 20px;
}

footer p a {
    color: inherit;
}

footer p a:hover {
    color: #4caf50;
}


@media (max-width: 460px) {
    .nav-bar {
        width: 100%;
    }
    
    .nav-bar-buttom {
        padding: 4px 8px;
        font-size: 13px;
    }

}

@media (max-width: 600px) {
    .about-description {
        display: none;
    }

    .about-my-content {
        width: 100%;
    }

    .about-numbers {
        flex-direction: column;
    }

    .my-portfolio {
        grid-template-columns: 1fr;
    }

    .my-portfolio2 {
        grid-template-columns: 1fr;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-img {
        width: 100%;
    }

    .my-contacts-container {
        width: 100%;
    }
}